html {
    width: 100%;
}

body {
    margin: 0;
    width: 100%
}

.pizza {
    width: 100vh;
    height: 100vh;
    margin: auto;
    padding: 5px;
    box-sizing: border-box;
}

.crust {
    margin: auto;
    box-sizing: border-box;
    position: relative;
    background: #e6bf70;
    width: 100%;
    height: 100%;
    max-width: 600px;
    max-height: 600px;
    border: 25px solid #e0b152;
    border-radius: 500px;
    display: flex;
}

.cheese {
    height: 95%;
    width: 95%;
    margin: auto;
    border-radius: inherit;
    background: #fff100;
}

.pepperoni {
    width: 20%;
    background: linear-gradient(#fd3400,#a50000);
    height: 20%;
    border-radius: 200px;
    position: absolute;
}

.pepperoni:before {
    content: "\2022  \2022";
    font-size: 400%;
    transform: rotatez(60deg);
    position: absolute;
    left: 5%;
    top: 25%;
    color: #ff7070;
}

.pepperoni:after {
    content: "\2022";
    font-size: 400%;
    transform: rotatez(140deg);
    position: absolute;
    left: 58%;
    top: -5%;
    color: #ff7070;
}

.mushroom {
    position: absolute;
    width: 10%;
    height: 11%;
    border-radius: 12px;
    background: #d6d6d6;
}

.mushroom:before {
    content: "";
    width: 150%;
    left: -25%;
    height: 70%;
    border-radius: 50px;
    top: -15px;
    position: absolute;
    background: linear-gradient(#d6d6d6,#b5b5b5);
}

.olive {
    width: 2%;
    height: 3%;
    border: 18px solid black;
    border-radius: 50px;
    position: absolute;
}

.oregano {
    background: linear-gradient(green,#00d200);
    position: absolute;
    width: 8%;
    height: 2%;
    border-radius: 10px;
}

/* Topping positions */

.topping-1 {
    left: 16%;
    top: 35%;
    transform: rotateZ(15deg);
}

.topping-2 {
    left: 70%;
    top: 45%;
    transform: rotateZ(235deg);
}

.topping-3 {
    left: 30%;
    top: 70%;
    transform: rotateZ(160deg);
}

.topping-4 {
    left: 50%;
    top: 15%;
    transform: rotateZ(30deg);
}

.topping-5 {
    left: 45%;
    top: 50%;
    transform: rotateZ(30deg);
}

.topping-6 {
    left: 75%;
    top: 30%;
    transform: rotateZ(160deg);
}

.topping-7 {
    left: 25%;
    top: 66%;
    transform: rotateZ(235deg);
}

.topping-8 {
    left: 25%;
    top: 15%;
    transform: rotateZ(105deg);
}

.topping-9 {
    left: 60%;
    top: 65%;
    transform: rotateZ(310deg);
}

.topping-10 {
    left: 15%;
    top: 30%;
    transform: rotateZ(105deg);
}

.topping-11 {
    left: 60%;
    top: 30%;
    transform: rotateZ(20deg);
}

.topping-12 {
    left: 40%;
    top: 50%;
    transform: rotateZ(110deg);
}

.topping-13 {
    left: 12%;
    top: 50%;
    transform: rotateZ(330deg);
}

.topping-14 {
    left: 40%;
    top: 75%;
    transform: rotateZ(230deg);
}

.topping-15 {
    left: 70%;
    top: 50%;
    transform: rotateZ(160deg);
}

.topping-16 {
    left: 85%;
    top: 30%;
    transform: rotateZ(260deg);
}

.topping-17 {
    left: 40%;
    top: 60%;
    transform: rotateZ(30deg);
}

.topping-18 {
    left: 37%;
    top: 30%;
    transform: rotateZ(310deg);
}

.topping-19 {
    left: 55%;
    top: 85%;
    transform: rotateZ(120deg);
}
